:root {
    // themes color
    --color-primary: #6FAFA6;
    --color-primary-2: #A9D6E5;
    --color-primary-3: #F4978E;
    --color-primary-4: #F2CC8F;
    --color-primary-5: #6FAFA6;
    --color-primary-6: #A9D6E5;
    --color-primary-7: #F4978E;
    --color-primary-8: #6FAFA6;
    --color-primary-9: #F2CC8F;
    --color-primary-10: #333333;
    --color-secondary: #333333;
    --color-secondary-2: #333333;

    // body color
    --color-body: #333333;
    --color-body-2: #FAF9F6;
    --color-bg: #DCEFEB;
    
    // title color
    --color-heading-1: #333333;
    --color-white:#fff;
    
    // notify Colors
    --color-success: #6FAFA6;
    --color-danger: #F4978E;
    --color-warning: #F2CC8F;
    --color-info: #A9D6E5;
    

    //Social icon colors
    --color-facebook: #6FAFA6;
    --color-twitter: #A9D6E5;
    --color-youtube: #F4978E;
    --color-linkedin: #6FAFA6;
    --color-pinterest: #F4978E;
    --color-instagram: #F2CC8F;
    --color-vimeo: #A9D6E5;
    --color-twitch: #6FAFA6;
    --color-discord: #A9D6E5;


    // Font weight
    --p-light: 300;
    --p-regular: 400;
    --p-medium: 500;
    --p-semi-bold: 600;
    --p-bold: 700;
    --p-extra-bold: 800;
    --p-black: 900;

    // Font weight
    --s-light: 300;
    --s-regular: 400;
    --s-medium: 500;
    --s-semi-bold: 600;
    --s-bold: 700;
    --s-extra-bold: 800;
    --s-black: 900;



    //transition easing
    --transition: all 0.3s;


    // Font Family
    --font-primary: 'Inter', sans-serif;
    --font-secondary: 'Nunito', sans-serif;
    --font-3: "fontawesome", sans-serif;

    //Fonts Size
    --font-size-b1: 18px;

    --font-size-b2: 16px;
    --font-size-b3: 12px;
    --font-size-b4: 10px;


    //Line Height
    --line-height-b1: 26px;
    --line-height-b2: 26px;
    --line-height-b3: 1.7;


    // Heading Font
    --h1: 64px;
    --h2: 48px;
    --h3: 30px;
    --h4: 26px;
    --h5: 24px;
    --h6: 18px;

}

// Layouts Variation
$smlg-device: 'only screen and (max-width: 1199px)';
$extra-device: 'only screen and (min-width: 1600px) and (max-width: 1919px)';
$laptop-device: 'only screen and (min-width: 1200px) and (max-width: 1599px)';
$lg-layout: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md-layout:'only screen and (min-width: 768px) and (max-width: 991px)';
$sm-layout:'only screen and (max-width: 767px)';
$large-mobile: 'only screen and (max-width: 575px)';
$small-mobile: 'only screen and (max-width: 479px)';